<!DOCTYPE html>
<html>
<head>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="@Url.Content("~/js/datagateway.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/main.js")"></script>

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/style.css")" />
</head>
<body>
    <fieldset>
        <legend>Standings:</legend>
        <table>
            <thead>
                <tr>
                    <th>Team</th>
                    <th>Played</th>
                    <th>GF</th>
                    <th>GA</th>
                    <th>GD</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="teamName"></td>
                    <td class="played"></td>
                    <td class="goalsFor"></td>
                    <td class="goalsAgainst"></td>
                    <td class="goalsDiff"></td>
                    <td class="points"></td>
                </tr>
                <tr>
                    <td class="teamName"></td>
                    <td class="played"></td>
                    <td class="goalsFor"></td>
                    <td class="goalsAgainst"></td>
                    <td class="goalsDiff"></td>
                    <td class="points"></td>
                </tr>
                <tr>
                    <td class="teamName"></td>
                    <td class="played"></td>
                    <td class="goalsFor"></td>
                    <td class="goalsAgainst"></td>
                    <td class="goalsDiff"></td>
                    <td class="points"></td>
                </tr>
                <tr>
                    <td class="teamName"></td>
                    <td class="played"></td>
                    <td class="goalsFor"></td>
                    <td class="goalsAgainst"></td>
                    <td class="goalsDiff"></td>
                    <td class="points"></td>
                </tr>
            </tbody>
        </table>
    </fieldset>

    <fieldset>
        <legend>Fixtures</legend>
        <div class="match" id="0">
            <div class="match-display-team">
                <span></span>
            </div>
            -
            <div class="match-display-team">
                <span></span>
            </div>
            <input class="btn-play" type="button" value="play" />
            <span class="match-result"></span>
        </div>
        <div class="match" id="1">
            <div class="match-display-team">
                <span></span>
            </div>
            -
            <div class="match-display-team">
                <span></span>
            </div>
            <input class="btn-play" type="button" value="play" hidden />
            <span class="match-result"></span>
        </div>
        <div class="match" id="2">
            <div class="match-display-team">
                <span></span>
            </div>
            -
            <div class="match-display-team">
                <span></span>
            </div>
            <input class="btn-play" type="button" value="play" hidden />
            <span class="match-result"></span>
        </div>
        <div class="match" id="3">
            <div class="match-display-team">
                <span></span>
            </div>
            -
            <div class="match-display-team">
                <span></span>
            </div>
            <input class="btn-play" type="button" value="play" hidden />
            <span class="match-result"></span>
        </div>
        <div class="match" id="4">
            <div class="match-display-team">
                <span></span>
            </div>
            -
            <div class="match-display-team">
                <span></span>
            </div>
            <input class="btn-play" type="button" value="play" hidden />
            <span class="match-result"></span>
        </div>
        <div class="match" id="5">
            <div class="match-display-team">
                <span></span>
            </div>
            -
            <div class="match-display-team">
                <span></span>
            </div>
            <input class="btn-play" type="button" value="play" hidden />
            <span class="match-result"></span>
        </div>
    </fieldset>

    <fieldset>
        <legend>Match</legend>
        <div id="teams-wrapper"></div>
        <div id="score-wrapper"></div>
        <div id="match-wrapper"></div>
        <!-- Todo: add goals per match (including minutes in which they were scored) -->
    </fieldset>
    <input id="btn-clear" type="button" value="clear" />
</body>
</html>